@charset "utf-8";
/* 초기화 */
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  max-width: 390px;
  height: 100vh;
  margin: 0 auto;
}
body {
  height: 100%;
}
strong {
  font-weight: 500;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
.txt_ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.txt_date {
  font-size: 10px;
  color: #767676;
}
.img_profile {
  display: block;
  width: 42px;
  height: 42px;
  margin-right: 12px;
  background-size: contain;
  background-repeat: no-repeat;
}
/* 상단 메뉴 */
.list_btnTop {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DBDBDB;
}
.list_btnTop .btn_back {
  margin: 13px 16px;
}
.list_btnTop .btn_menu {
  margin: 12px;
}
.header_chatRoom .item_chatUser {
  margin-right: auto;
  font-weight: 700;
  line-height: 48px;
}
/* 대화 내용 */
.chatRoom_main {
  position: relative;
  padding: 20px 0 0px;
  background-color: #F2F2F2;
}
.sec_chat {
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow-y: hidden;
  min-height: 712px;
  padding: 0 16px;
}
.sec_chat .img_id3 {
  background-image: url(../images/Ellipse4.png);
}
.sec_chat .txt_chat {
  border: 1px solid #C4C4C4;
  max-width: 240px;
  padding: 12px;
  background-color: #ffffff;
}
.sec_chat .txt_myChat {
  background-color: #F26E22;
  color: #ffffff;
}
.sec_chat .item_chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.sec_chat .item_chat .txt_chat {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.sec_chat .item_chat .txt_date {
  margin-top: auto;
  margin-left: 6px;
}
.sec_chat .item_myChat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin-bottom: 10px;
}
.sec_chat .item_myChat .txt_chat {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.sec_chat .item_myChat .txt_date {
  margin-top: auto;
  margin-right: 6px;
}
.sec_chat .item_myChat .img_myChat {
  border-radius: 10px;
}
/* 내용 입력 */
.chatRoom_main .form_comment {
  display: flex;
  border-top: .5px solid #DBDBDB;
  max-width: 390px;
  padding: 12px 16px;
  background-color: #ffffff;
}
.chatRoom_main .form_comment .btn_imgLoad {
  display: block;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  margin-right: 13px;
  padding: 7px;
  background-color: #C4C4C4;
  cursor: pointer;
}
.chatRoom_main .form_comment .btn_imgLoad img {
  width: 22px;
  height: 22px;
}
.chatRoom_main .form_comment .inp_hide:focus + .btn_imgLoad {
  outline: 2px solid black;
}
.chatRoom_main .form_comment .inp_comment {
  border: none;
  width: 100%;
  margin-top: 3px;
  padding: 5px 7px;
}
.chatRoom_main .form_comment .inp_comment::-webkit-input-placeholder {
  color: #C4C4C4;
}
.chatRoom_main .form_comment .inp_comment:-ms-input-placeholder {
  color: #C4C4C4;
}
.chatRoom_main .form_comment .inp_comment::-ms-input-placeholder {
  color: #C4C4C4;
}
.chatRoom_main .form_comment .inp_comment::placeholder {
  color: #C4C4C4;
}
.chatRoom_main .form_comment .btn_comment {
  width: 40px;
  height: 33px;
  color: #C4C4C4;
}
.chatRoom_main .inp_hide {
  overflow: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}
/* 채팅방 나가기 */
.sec_modal.on {
  display: none;
}
.sec_modal {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  height: 100%;
  background-color: #7676762f;
}
.sec_modal .wrap_modal {
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 390px;
  padding: 0 0 10px;
  background-color: #ffffff;
}
.sec_modal .wrap_modal a{
  display: block;
  width: 100%;
  height: 46px;
  padding: 14px 26px;
}
.sec_modal .wrap_modal a:hover {
  background-color: #DBDBDB;
}
.sec_modal .wrap_modal .btn_close {
  display: block;
  border-radius: 5px;
  width: 50px;
  height: 4px;
  margin: 16px auto;
  background-color: #DBDBDB;
}