@charset "utf-8";

// reset
* {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
}
strong {
  font-weight: 500;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}

// util
body {
  width: 390px;
  margin: 0 auto;
}
.txt_hide {
  width: 1px;
  height: 1px;
  margin: -1px;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.txt_date {
  font-size: 10px;
  color: #767676;
}
.img_profile {
  display: block;
    float: left;
    margin-right: 12px;
    background-size: contain;
}
// style
// header
.list_btnTop {
  overflow: hidden;
  border-bottom: 1px solid #DBDBDB;
  margin-bottom: 20px;
  .btn_back {
    float: left;
    margin: 13px 12px;
  }
  .btn_menu {
    float: right;
    margin: 12px;
  }
}
// main
.post_main {
  position: relative;
  padding: 0 16px;
  .sec_post {
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 20px;
    padding-bottom: 24px;
  }
}
// sec_post
.sec_post {
  .cont_user {
    display: block;
    overflow: hidden;
    width: 200px;
    .img_profile {
      width: 42px;
      height: 42px;
      background-image: url(../../images/basic-profile-img.png);
    }
    .div_profile {
      width: 304px;
    }
    address {
      font-size: 12px;
    }
  }
  .btn_more {
    position: absolute;
    right: 16px;
    top: 4px;
  }
  .div_cont_post {
    margin-left: 54px;
  }
  .txt_post {
    clear: both;
    width: 304px;
    margin: 16px 0;
  }
  .list_count {
    margin: 12px 0 16px;
    dt,
    dd {
      display: inline-block;
    }
    dd {
      margin-right: 16px;
      vertical-align: top;
    }
    img {
      width: 22px;
      height: 22px;
    }
  }
}
.sec_comment {
  padding: 0 16px;
  .item_comment {
    position: relative;
  }
  a {
    display: block;
    width: 200px;
    margin-bottom: 16px;
  }
  .img_profile {
      width: 36px;
      height: 36px;
      margin-right: 12px;
  }
  strong {
    margin-right: 6px;
  }
  .btn_more {
    position: absolute;
    top: 0;
    right: 0;
    img {
      width: 20px;
      height: 20px;
    }
  }
  p {
    margin: 0 0 16px 48px;
  }
  .img_id1 {
    background-image: url(../../images/Ellipse4.png);
  }
  .img_id2 {
    background-image: url(../../images/Ellipse5.png);
  }
}
.post_main {
  .form_comment {
    border-top: .5px solid #DBDBDB;
    margin-top: 66px;
    padding: 12px 16px;
    .img_profile {
      width: 36px;
      height: 36px;
      margin-right: 18px;
    }
    .img_id3 {
      background-image: url(../../images/basic-profile-img.png);
    }
    .inp_comment {
      border: none;
      margin-top: 3px;
      padding: 5px 7px;
    }
    .inp_comment::placeholder {
      color: #C4C4C4;
    }
    .btn_comment {
      float: right;
      height: 33px;
      color: #C4C4C4;
    }
  }
}