/* 공통 */

html {
  max-width: 390px;
  height: 100vh;
  top: 24px;
}

body {
  display: flex;
  flex-direction: column; 
}

/* header */

.home_header {
  width: 390px;
  height: 48px;
  border-bottom: solid 1px #DBDBDB;
  position: fixed;
  background-color: #fff;
}

.header_text {
  width: 104px;
  height: 22px;
  padding-left: 16px;
  line-height: 48px;
}

.btn_searchNav {
  background: none;
  width: 48px;
  height: 48px;
  border: none;
  float: right;
  cursor: pointer;
  line-height: 58px;
}

.btn_searchNav .icon_search {
  width: 16px;
  height: 16px;
  padding-right: 15px;
}


/* feed */

.home_feed {
  padding-left: 16px;
  padding-top: 48px;
  padding-right: 16px;
  padding-bottom: 100px;
}

.container_Post {
  display: flex;
  margin-top: 20px;
}

.container_profile {
  padding-right: 12px;
}

.Profile_1stContent, .Profile_2ndContent, .Profile_3rdContent {
  width: 42px;
  height: 42px;
}

.nicknameAndId_wrap {
  display: flex;
  flex-direction: column;
}


.btn_postOption {
  display:inline-block;
  width: 18px;
  height: 18px;
  background: none;
  border-style: none;
  cursor: pointer;
  float: right;
}

.nickname_1stPost, .nickname_2ndPost, .nickname_3rdPost {
  font-size: 14px;
  height: 18px;
}

.img_postOption {
  width: 18px;
  height: 18px;
}

.id_1stPost, .id_2ndPost, .id_3rdPost {
  font-size: 12px;
  height: 14px;
}

.container_Contents {
  margin-top: 16px;
}

.img_1stPost, .img_2ndPost, .img_3rdPost{
  margin-top: 16px;
}

.container_footer {
  margin-top: 16px;
}

.heartComment_wrap {
  display: flex;
  margin-bottom: 5px;
}

.heart_wrap {
  display: flex;
  margin-right: 18px;
  align-items: center;
}

.click_heart {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.num_heart {
  font-size: 12px;
}

.comment_wrap {
  display: flex;
  align-items: center;
}

.click_comment {
  width: 15px;
  height: 15px;
  margin-right: 3px;
}

.num_comment {
  font-size: 12px;
}

.txt_date {
  font-size: 10px;
}


/* footer */

.footer_chatList {
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: 1px solid #dbdbdb;
  background-color: #fff;
  width: 390px;
  padding: 0 6px;
  box-sizing: border-box;
}

.footer_chatList .list_nav {
  display: flex;
  justify-content: space-between;
}
.footer_chatList .list_nav li {
  display: inline-block;
  margin-right: 3px;
  box-sizing: border-box;
}

.footer_chatList .list_nav li:hover {
  background-color: #dbdbdb;
}

.footer_chatList .list_nav .item_menu {
  display: inline-block;
  width: 84px;
  padding: 11.5px 0 8.5px;
  text-align: center;
}

.footer_chatList .list_nav small {
  display: block;
  font-size: 10px;
  line-height: 14px;
}