/* 공통 */

html {
  max-width: 390px;
  height: 100vh;
  top: 24px;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 390px;
}

/* header */

.home_header {
  width: 390px;
  height: 48px;
  border-bottom: solid 1px #DBDBDB;
  position: fixed;
  background-color: #fff;
  z-index: 1000
}

.nav_text {
  width: 104px;
  height: 22px;
  padding-left: 16px;
  line-height: 48px;
}

.link_searchNav {
  width: 48px;
  height: 48px;
  float: right;
  padding-left: 25px;
  cursor: pointer;
  line-height: 58px;
}

/* main */

.main_start {
  max-width: 390px;
  height: 100vh;
  margin-top: 48px;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
}

.article_guide {
  margin-top: 58%;
  text-align: center;
}

.article_guide p {
  font-size: 14px;
  color: #767676;
  margin-top: 25px;
  margin-bottom: 20px;
}

.link_searchMain {
  display: inline-block;
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 11px;
  padding-bottom: 11px;
  background: #F26E22;
  border-radius: 44px;
} 

.link_searchMain span {
  color: #fff;
  font-size: 14px;
}

.feed_section {
  padding-top: 20px;
  padding-bottom: 80px;
}

.btn_imgSlide {
    border-radius: 100%;
    width: 6px;
    height: 6px;
    margin: 12px 6px;
    cursor: pointer;
}
/* 팔로잉에 따른 화면 보이기 */

.card_wrap {
  margin-bottom: 74px;
}

.card_feed {
  display: flex;
  padding: 16px 16px 0 16px;
}
.card_feed > img {
  width: 42px;
  height: 42px;
  margin-right: 12px;
}
.card_feed .content_feed {
  display: flex;
  width: 304px;
  flex-direction: column;
}

.content_feed .edit_feed {
  float: right;
  cursor: pointer;
}
.content_feed strong {
  font-size: 14px;
  font-weight: 500;
}
.content_feed > span {
  margin: 2px 0 16px;
  color: #767676;
  font-size: 12px;
}
.content_feed p {
  font-size: 14px;
  line-height: 16px;
}

.btn_postOption {
  width: 18px;
  height: 18px;
  background: none;
  border-style: none;
  cursor: pointer;
  float: right;
}

.content_feed .image_feed {
  width: 304px;
  height: 228px;
  margin-top: 16px;
  object-fit: cover;
  border-radius: 10px;
}

.profile_feed {
  cursor: pointer;
}

.profileName {
  cursor: pointer;
}

.data_account {
  cursor: pointer;
}

.postText {
  cursor: pointer;
}

.content_feed .date_feed {
  margin-top: 16px;
}

.content_nav {
  display: block;
  max-width: 390px;
  margin-bottom: 2px;
}

.more_image {
  position: absolute;
  background: url(../images/icon/iccon-img-layers.png);
  width: 20px;
  height: 20px;
  bottom: 275px;
  right: 6px;
  cursor: pointer;
}
.content_feed .icon_feed {
  display: flex;
  align-items: center;
  margin-top: 10px;
  /* display: none; */
}
.icon_feed img {
  width: 15px;
  height: 15px;
  margin-right: 8px;
  cursor: pointer;
}
.icon_feed .likecount_feed {
  margin-right: 16px;
}
.icon_feed span {
  font-size: 12px;
  color: #767676;
}
.card_feed .date_feed {
  color: #767676;
  font-size: 10px;
}

.img_wrap {
  display: flex;
  position: relative;
}

.imgSelectBtnList {
  position: absolute;
  left: 50%;
  transform: translate(-50%,600%);
}

.imgSlide {
  float: left;
}

.btn_imgSlide{
  padding: 4px 5px;
  border-radius: 100%;
  width: 0px;
  height: 11px;
  margin: 12px 4px;
  border-style: none;
}

.img_visible {
  display: block;
}

.img_invisible {
  display: none;
}

.btn_imgSelected {
  background-color: #F26E22;
}

.btn_unSelect {
  background-color: #ffff;
}

/* modal */
.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-sizing: border-box;
}
.modal-overlay.modal_active {
  overflow: hidden;
}
.modal-window {
  background: transparent;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 282px;
  position: fixed;
  padding: 10px;
  border-radius: 10px;
  top: 50%;
  box-sizing: border-box;
}

.modal-window.modal-profileWindow {
  background: #fff;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0 0 100%;
  top: 760px;
  z-index: 100;
}


.close-area {
  display: inline;
  float: right;
  padding: 0 10px 10px 0;
  cursor: pointer;
  text-shadow: 1px 1px 2px gray;
  color: white;
}

.content {
  display: flex;
  overflow-x: scroll;
  width: 351px;
  z-index: 100;
  padding: 0 16px;
}

body.modal_active {
  overflow: hidden;
}

.modal_content:hover {
  background-color: #dbdbdb;
}

.modal-profileWindow::before {
  display: block;
  width: 50px;
  height: 4px;
  background: #dbdbdb;
  border-radius: 5px;
  content: "";
  margin: 16px auto;
}

/* footer */

.footer_chatList {
  position: fixed;
  bottom: 0;
  border-top: 1px solid #dbdbdb;
  background-color: #fff;
  width: 390px;
  padding: 0 6px;
  box-sizing: border-box;
}

.footer_chatList .list_nav {
  display: flex;
  justify-content: space-between;
}
.footer_chatList .list_nav li {
  display: inline-block;
  margin-right: 3px;
  box-sizing: border-box;
}

.footer_chatList .list_nav li:hover {
  background-color: #dbdbdb;
}

.footer_chatList .list_nav .item_menu {
  display: inline-block;
  width: 84px;
  padding: 11.5px 0 8.5px;
  text-align: center;
}

.footer_chatList .list_nav small {
  display: block;
  font-size: 10px;
  line-height: 14px;
}
.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-sizing: border-box;
}
.modal-overlay.modal_active {
  overflow: hidden;
}
.modal-window {
  background: transparent;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 282px;
  position: fixed;
  padding: 10px;
  border-radius: 10px;
  top: 50%;
  box-sizing: border-box;
}

.close-area {
  display: inline;
  float: right;
  padding: 0 10px 10px 0;
  cursor: pointer;
  text-shadow: 1px 1px 2px gray;
  color: white;
}

.content {
  display: flex;
  overflow-x: scroll;
  width: 351px;
  z-index: 100;
  padding: 0 16px;
}
.content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.content .image_feed {
  width: 304px;
  height: 228px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 16px;
}

body.modal_active {
  overflow: hidden;
}

.modal_content {
  font-size: 14px;
  line-height: 18px;
  padding: 14px 0 14px 26px;
  box-sizing: border-box;
}
.modal_content:hover {
  background-color: #dbdbdb;
}
.modal-feedWindow::before,
.modal-logout::before,
.modal-profileWindow::before {
  display: block;
  width: 50px;
  height: 4px;
  background: #dbdbdb;
  border-radius: 5px;
  content: "";
  margin: 16px auto;
}