/* 공통 */

html {
  max-width: 390px;
  height: 100vh;
  top: 24px;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 390px;
}

/* header */

.home_header {
  width: 390px;
  height: 48px;
  border-bottom: solid 1px #DBDBDB;
  position: fixed;
  background-color: #fff;
}

.nav_text {
  width: 104px;
  height: 22px;
  padding-left: 16px;
  line-height: 48px;
}

.link_searchNav {
  width: 48px;
  height: 48px;
  float: right;
  padding-left: 25px;
  cursor: pointer;
  line-height: 58px;
}

/* main */

.main_start {
  max-width: 390px;
  height: 100vh;
  margin-top: 48px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article_guide {
  margin-top: 58%;
}

.article_guide p {
  font-size: 14px;
  color: #767676;
  margin-top: 25px;
  margin-bottom: 20px;
}

.link_searchMain {
  display: inline-block;
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 11px;
  padding-bottom: 11px;
  background: #F26E22;
  border-radius: 44px;
} 

.link_searchMain span {
  color: #fff;
  font-size: 14px;
}

/* footer */

.footer_chatList {
  position: fixed;
  bottom: 0;
  border-top: 1px solid #dbdbdb;
  background-color: #fff;
  width: 390px;
  padding: 0 6px;
  box-sizing: border-box;
}

.footer_chatList .list_nav {
  display: flex;
  justify-content: space-between;
}
.footer_chatList .list_nav li {
  display: inline-block;
  margin-right: 3px;
  box-sizing: border-box;
}

.footer_chatList .list_nav li:hover {
  background-color: #dbdbdb;
}

.footer_chatList .list_nav .item_menu {
  display: inline-block;
  width: 84px;
  padding: 11.5px 0 8.5px;
  text-align: center;
}

.footer_chatList .list_nav small {
  display: block;
  font-size: 10px;
  line-height: 14px;
}