@charset "utf-8";
/* 초기화 */
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* 공통 스타일 */
html {
  max-width: 390px;
  height: 100vh;
  margin: 0 auto;
}
body {
  height: 100%;
}
strong {
  font-weight: 500;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
.txt_ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.txt_date {
  font-size: 10px;
  color: #767676;
}
.img_profile {
  display: block;
  width: 42px;
  height: 42px;
  margin-right: 12px;
  background-size: contain;
  background-repeat: no-repeat;
}
/* 상단 메뉴 */
.list_btnTop {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DBDBDB;
}
.list_btnTop .btn_back {
  margin: 13px 16px;
}
.list_btnTop .btn_menu {
  margin: 12px;
}
/* 게시글 */
.post_main {
  position: relative;
  padding-top: 20px;
}
.post_main .wrap_cont {
  min-height: 712px;
}
.sec_post {
  position: relative;
  border-bottom: 1px solid #DBDBDB;
  margin-bottom: 20px;
  padding: 0 16px 24px;
}
.sec_post .cont_user {
  display: flex;
}
.sec_post .cont_user .img_profile {
  background-image: url(../images/basic-profile-img.png);
}
.sec_post .cont_user .wrap_txt_profile {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  padding: 3px 0;
}
.sec_post .cont_user address {
  max-width: 238px;
  margin-top: auto;
  font-size: 12px;
  color: #767676;
}
.sec_post .cont_user strong {
  display: block;
}
.sec_post .btn_more {
  position: absolute;
  right: 16px;
  top: 0;
}
.sec_post .div_cont_post {
  overflow: hidden;
  margin-left: 54px;
}
.sec_post .txt_post {
  clear: both;
  max-width: 304px;
  margin: 16px 0;
}
.sec_post .wrap_list_img {
  position: relative;
}
.sec_post .list_btnSlide {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.sec_post .btn_slide {
  border-radius: 100%;
  width: 6px;
  height: 6px;
  margin: 12px 6px;
  background-color: #FFFFFF;
}
.sec_post .btn_slide.on {
  background-color: #F26E22;
}
.sec_post .list_img {
  overflow: hidden;
  height: 228px;
}
.sec_post .list_img .item_img {
  width: 304px;
  height: 228px;
}
.sec_post .list_count {
  margin: 12px 0 16px;
}
.sec_post .list_count dt,
.sec_post .list_count dd {
  display: inline-block;
}
.sec_post .list_count dd {
  margin-right: 16px;
  vertical-align: top;
  padding-top: 3px;
}
.sec_post .list_count img {
  width: 20px;
  height: 20px;
}
/* 댓글란 */
.sec_comment {
  padding: 0 16px;
}
.sec_comment li {
  position: relative;
}
.sec_comment .item_comment {
  display: flex;
  width: fit-content;
  margin-bottom: 4px;
}
.sec_comment .wrap_txt_comment {
  padding-top: 6px;
}
.sec_comment .img_profile {
  width: 36px;
  height: 36px;
  margin-right: 12px;
}
.sec_comment strong {
  margin-right: 6px;
}
.sec_comment .btn_more {
  position: absolute;
  top: 0;
  right: 0;
}
.sec_comment .btn_more img {
  width: 20px;
  height: 20px;
}
.sec_comment p {
  overflow-y: hidden;
  max-width: 310px;
  max-height: 236px;
  margin: 0 0 16px 48px;
}
.sec_comment .img_id1 {
  background-image: url(../images/Ellipse4.png);
}
.sec_comment .img_id2 {
  background-image: url(../images/Ellipse5.png);
}
/* 댓글 입력 */
.post_main .form_comment {
  display: flex;
  border-top: .5px solid #DBDBDB;
  max-width: 390px;
  padding: 12px 16px;
  background-color: #ffffff;
}
.post_main .form_comment .img_profile {
  width: 36px;
  height: 36px;
}
.post_main .form_comment .img_id3 {
  background-image: url(../images/basic-profile-img.png);
}
.post_main .form_comment .inp_comment {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  border: none;
  width: 273px;
  height: 30px;
  margin-top: 3px;
  padding: 5px 6px;
  resize: none;
}
.post_main .form_comment .inp_comment::-webkit-input-placeholder {
  color: #C4C4C4;
}
.post_main .form_comment .inp_comment:-ms-input-placeholder {
  color: #C4C4C4;
}
.post_main .form_comment .inp_comment::-ms-input-placeholder {
  color: #C4C4C4;
}
.post_main .form_comment .inp_comment::placeholder {
  color: #C4C4C4;
}
.post_main .form_comment .btn_comment {
  width: 37px;
  height: 33px;
  color: #C4C4C4;
}
/* 모달 */
.sec_modal.on {
  display: none;
}
.sec_modal {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  height: 100%;
  background-color: #7676762f;
}
.sec_modal .wrap_modal {
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 390px;
  padding: 0 0 10px;
  background-color: #ffffff;
}
.sec_modal .wrap_modal a{
  display: block;
  width: 100%;
  height: 46px;
  padding: 14px 26px;
}
.sec_modal .wrap_modal a:hover {
  background-color: #DBDBDB;
}
.sec_modal .wrap_modal .btn_close {
  display: block;
  border-radius: 5px;
  width: 50px;
  height: 4px;
  margin: 16px auto;
  background-color: #DBDBDB;
}