* {
    box-sizing: border-box;
}

body {
    max-width: 390px;
    margin: 0 auto;
    min-height: 100vh;
}
button {
    border: none;
    background: none;
    cursor: pointer;
}

.sr-only {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

/* form */

/* 상단 헤더 */
.list-btnTop {
    overflow: hidden;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
}

.list-btnTop .btn-back {
    float: left;
    margin: 13px 12px;
    line-height: 26px;
}
.list-btnTop .btn-back img {
    vertical-align: middle;
}

.list-btnTop .btn-save {
    float: right;
    width: 90px;
    height: 32px;
    margin: 12px;
    background-color: #f26e22;
    border-radius: 32px;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
}

.list-btnTop .btn-save[disabled='disabled'] {
    background-color: #ffc7a7;
}

/* 유효성 검사 통과 이후에 저장 버튼 활성화 */
/* type이 submit일 때*/

/* 프로필 사진 */
.user-profile {
    position: relative;
    padding: 30px 0;
}

.user-profile #label-img {
    display: block;
    position: relative;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-image: url(../images/basic-profile-img.png);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    cursor: pointer;
}
.user-profile .img-upload-icon {
    display: block;
    width: 36px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

/* input들 */
.input-profile {
    max-width: 322px;
    margin: 0 auto;
}

.input-profile label {
    display: block;
    /* margin-bottom: 16px; */
    color: #767676;
    font-size: 12px;
    line-height: 15px;
    
}

.input-profile label:not(:first-child) {
    margin-top: 10px;
}

.input-profile input {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    color: black;
    padding: 0 0 9px;
    margin: 6px 0 6px;
    outline: none;
    border: none;
    border-bottom: 1px solid #dbdbdb;
}

.input-profile input:focus {
    border-bottom: 1px solid #f26e22;
}
.input-profile input::placeholder {
    color: #dbdbdb;
}

.warning {
    display: none;
    font-size: 12px;
    line-height: 14px;
    color: #EB5757;
}